<h1>Account Summary <small>January 3rd 2017</small></h1>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Cash Accounts</h3>
    </div>
    <div class="panel-body" >
        <account-summary *ngFor="let account of cashAccounts" [account]="account"></account-summary>
    </div>
</div>
<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Credit Accounts</h3>
    </div>
    <div class="panel-body">
        <account-summary *ngFor="let account of creditAccounts" [account]="account"></account-summary>
    </div>
</div>
