<div class="panel panel-default ">
    <div class="panel-body bg-primary">
        <div class="col-md-6 col-sm-6 col-xs-6 ">
            <span><h3>Checking Account</h3></span>
            <span>...1234</span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <span><h3>$2,645.75</h3></span>
            <span>Available Balance</span>
        </div>
    </div>

</div>
<hr />
<h4>Activity</h4>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default active">Transactions</button>
    <button type="button" class="btn btn-default">Deposits</button>
    <button type="button" class="btn btn-default">Withdrawals</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th class="text-right">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>02/24/17</td>
            <td>Rent</td>
            <td class="text-right">$1,500.00</td>
        </tr>
        <tr>
            <td>02/23/17</td>
            <td>Groceries</td>
            <td class="text-right">$150.00</td>
        </tr>
        <tr>
            <td>02/22/17</td>
            <td>Payment</td>
            <td class="text-right">+$2,500.00</td>
        </tr>
        <tr>
            <td>02/21/17</td>
            <td>Rent</td>
            <td class="text-right">$1,500.00</td>
        </tr>
    </tbody>
</table>